* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* brand */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    /* feedback */
    --danger: #FF5959;

    /* input */
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;
    
    /* shape */
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    /* text */
    --text-logo: #FF598B;
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    /* font */
    --font-family-logo: "Leckerli One", cursive;
    --logo: 400 2.5rem var(--font-family-logo);
    
    --font-family-baloo: "Baloo 2", sans-serif;
    --heading-md: 700 1.75rem var(--font-family-baloo);
    --heading-sm: 700 1.125rem var(--font-family-baloo);

    --font-family-open: "Open Sans", sans-serif;
    --body-lg: 600 .875rem var(--font-family-open);
    --body-md: 300 1rem var(--font-family-open);
    --body-sm: 400 .875rem var(--font-family-open);
    --body-sm2: 400 1rem var(--font-family-open);
    --body-xs: .75rem var(--font-family-open);
}

body {  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

main {
    background-color: var(--shape-body);
    margin-right: 1.25rem;
    border-radius: .75rem;

    overflow: auto;
}