#app {
   
    width: 100%;
    height: 100vh;
    display:grid;
    grid-template-columns: 32.78% 67.21%;
    gap: 1.25rem;
    padding:1.25rem;;
    
    background-color: var(--shape-background);
    
    overflow: hidden;
}

aside {
    width: 25rem;
    height: 45.5rem;
    background-image: url(../assets/Background.png);
    background-size: cover;
    border-radius: .75rem;
}

.logo-container {
    margin: 2rem;
     
    & img {
        width: 2.865rem;
        height: 3rem;
        margin-bottom: 1rem;
    }

    & h1 {
        font: var(--logo);
        color: var(--text-logo);
    }

    & p {
        margin-top: .25rem;
        color: var(--text-heading);
        font: var(--body-md);
    }
}